* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e0e0e012;
  text-align: center;
  height: 100%;
  overflow-x: hidden;
}

#demo {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #54555f;
  padding: 16px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.image_main {
  /* padding: 0px 20px 60px 20px; */
  /* margin: 40px; */
  border: 1px solid #d6d1c9;
  border-radius: 3px;
  background-color: #efefef;
}

.video_main {
  padding: 0px 20px 60px 20px;
  margin: 40px;
  border: 1px solid #d6d1c9;
  border-radius: 3px;
  background-color: #efefef;
}

.section_title {
  color: #757575;
}

.pannellum_div {
  display: flex;
  flex-direction: column;
}

.codebox {
  width: 600px;
  text-align: left;
  padding: 0px;
  font-family: Courier, sans-serif;
  font-size: 13px;
  color: #fff;
  background-color: #3d3d3d;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  margin-left: 30px;
}

.stepper-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.menu-stepper {
  /* position: relative;
    top: -60px; */
  width: 60%;
}

.menu-stepper > .MuiStep-root > .MuiButtonBase-root > .MuiStepLabel-root {
  flex-direction: column !important;
}

.menu-stepper
  > .MuiStep-root
  > .MuiButtonBase-root
  > .MuiStepLabel-root
  > .MuiStepLabel-labelContainer {
  color: #ffffff8a !important;
}

.menu-stepper
  > .MuiStep-root
  > .MuiButtonBase-root
  > .MuiStepLabel-root
  > .MuiStepLabel-iconContainer
  > .MuiSvgIcon-root {
  color: #ffffff7a;
  width: 10px;
}

.menu-stepper
  > .MuiStep-root
  > .MuiButtonBase-root
  > .MuiStepLabel-root
  > .MuiStepLabel-iconContainer
  > .MuiSvgIcon-root
  > .MuiStepIcon-text {
  display: none;
}

.menu-stepper
  > .MuiStep-root
  > .MuiButtonBase-root
  > .MuiStepLabel-root
  > .MuiStepLabel-iconContainer
  > .MuiSvgIcon-root.MuiStepIcon-root.Mui-active {
  color: #ffb022 !important;
  width: 18px !important;
  box-shadow: 0 0 16px 5px white;
  border-radius: 50%;
  height: 18px;
  background: transparent;
  margin-bottom: 8px;
}

.menu-stepper
  > .MuiStep-root
  > .MuiButtonBase-root
  > .MuiStepLabel-root
  > .MuiStepLabel-labelContainer
  > .MuiStepLabel-label.Mui-active {
  color: #ffffff !important;
}

.hide {
  visibility: hidden !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .menu-stepper {
    width: 100%;
  }

  .arrow-hotspot > .hotspot > .in {
    width: 30px;
    height: 30px;
  }

  .arrow-hotspot > .hotspot > .out {
    width: 50px;
    height: 50px;
  }

  .info-hotspot > .hotspot > .in {
    width: 24px !important;
    height: 24px !important;
  }

  .info-hotspot > .hotspot > .out {
    width: 44px !important;
    height: 44px !important;
  }
}
